/MobileHomeAuto/*.iml
/MobileHomeAuto/.gradle
/MobileHomeAuto//local.properties
/MobileHomeAuto//.idea/caches
/MobileHomeAuto//.idea/libraries
/MobileHomeAuto//.idea/modules.xml
/MobileHomeAuto//.idea/workspace.xml
/MobileHomeAuto//.idea/navEditor.xml
/MobileHomeAuto//.idea/assetWizardSettings.xml
/MobileHomeAuto/.DS_Store
/MobileHomeAuto//build
/MobileHomeAuto//captures
/MobileHomeAuto/.externalNativeBuild
/MobileHomeAuto/.cxx
/MobileHomeAuto/local.properties

/FrameAnalysisServer/venv
/FrameAnalysisServer/videos

/HLS_Server/node_modules
/HLS_Server/.env
/HLS_Server/videos/ipcam/*
/HLS_Server/tsconfig.json
